# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm run build 
    
    # - name: Build the Docker image
    #   run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
    
    - name: 自动同步文件夹到我的服务器
    
    # You may pin to the exact commit or the version.
    # uses: wangyucode/sftp-upload-action@24f8bb83383dc39bed201ee5da01475e6c38c568
      uses: wangyucode/sftp-upload-action@v2.0.2
      with:
        host: ${{ secrets.SERVER_IP }}  #你的nginx服务器公网ip
        port: ${{ secrets.SERVER_PORT }} #你的nginx服务器ssh端口
        username: ${{ secrets.USERNAME }} #你的nginx服务器用户名
        password: ${{ secrets.PASSWORD }} #你的nginx服务器密码
        localDir: "docs" #你vue项目build好的文件的路径,每次服务器上会自动删除对应的文件夹后重新覆盖
        remoteDir: /var/lib/docker/volumes/blogio/_data/ #你要把你build好的文件夹放到nginx服务器上的什么位置


